$paleta_unoA: #8EDDE4;
$paleta_unoB: #DDC297;
$paleta_unoC: #BB8246;
$paleta_unoD: #09090A;

$paleta_dosA: #FCC656;
$paleta_dosB: #71440D;
$paleta_dosC: #7B5849;
$paleta_dosD: #7B5849;

$paleta_tresA: #FFE11D;
$paleta_tresB: #F9C700;
$paleta_tresC: #F9C700;
$paleta_tresD: #DB8300;
$paleta_tresE: #030300;

$paleta_cuatroA: #34688F;
$paleta_cuatroB: #F6CA07;
$paleta_cuatroC: #EFA007;
$paleta_cuatroD: #F38605;
$paleta_cuatroE: #C25D05;

$paleta_cincoA: #F7F700;
$paleta_cincoB: #F7F77D;
$paleta_cincoC: #535254;
$paleta_cincoD: #818181;

$paleta_seisA: #F24585;
$paleta_seisB: #72C3E2;
$paleta_seisC: #FFEC7B;
$paleta_seisD: #020202;






